@forward  "variables" ;

$green: #A9D1C7;
$blue: #0081A2;
$green2: #70BA44;
$blue2: #146489;
$blue3: #0085AE;

@font-face {
	font-family: 'Archivo-Bold';
	font-style: normal;
	src: local('Archivo-Bold'), url(../fonts/Archivo-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Archivo-Regular';
	font-style: normal;
	src: local('Archivo-Regular'), url(../fonts/Archivo-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Archivo-SemiBold';
	font-style: normal;
	src: local('Archivo-SemiBold'), url(../fonts/Archivo-SemiBold.ttf) format('truetype');
}

body {
	font-family: 'Archivo-Regular';
}

btn-send{
	font-size: 22px !important;
	text-transform: capitalize !important;
	border-radius: 18px !important;
	margin-top: 64px;
}

.cont-mcas-validate{
  margin-bottom: 30px;
  position: relative;
  z-index: 9999;
}

.cont-mcas-inter{
  padding-left: 150px;
  z-index: 999999;
  position: relative;
  padding-top: 70px;
  z-index: 0;
	&-inter{
		padding-top: 70px;
	}

  @media screen and (max-width: 959px) {
    padding-left: 0;
    padding-top: 50px;
  }
}

.cont-mcas-das{
  padding-left: 250px;
  z-index: 999999;
  position: relative;
  padding-top: 143px;
  z-index: 0;
	&-inter{
		padding-top: 70px;
	}
  @media screen and (max-width: 959px) {
    padding-left: 20px;
    padding-top: 50px;
  }
}

.title-views {
  font-size: 36px;
  font-family: 'Archivo-SemiBold';
  color: $blue2;
  margin-bottom: 60px;
  @media screen and (max-width: 959px) {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#00ACAC 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}


.color-green{
  color: #00ACAC;
}

.color-blue{
  color: $blue2;
}

@media screen and (max-width: 1024px){
  .v-col, .v-col-12{
    padding: 5px 12px;
  }
  .v-col-6{
    padding: 0 12px;
  }
}

.v-text-field .v-field {	
  border: 1.5px solid $green;
  border-radius: 18px;
  color: $blue;
  font-family: 'Archivo-SemiBold';
  padding-left: 5px;
  height: 54px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 3px 5px 0px, rgba(0, 0, 0, 0.1) -1px 0px 3px -1px;
  background: white;
  @media screen and (max-width: 1024px){
    height: 38px !important;
    input, .v-field__input{
      padding-top: initial !important;
    }
    .v-field__append-inner{
      height: inherit !important;
      button{
        width: auto !important;
        height: auto !important;
      }
    }
    .v-text-field__prefix{
      padding-top: 0 !important;
    }
  }
}

.route-enter-from{
  opacity: 0;
  transform: translateX(100px);
}
.route-enter-active{
  transition: all 0.3s ease-out;
}
.route-leave-to{
  opacity: 0;
  transform: translateX(-100px);
}
.route-leave-active{
  transition: all 0.3s ease-in;    
}


.v-card.card-content{
  box-shadow: none !important;
  background: transparent !important;
  padding: 10px !important;
  max-width: 1152px;
  width: 1152px;
  @media screen and (max-width: 1024px){
    width: 100% !important;
  }
  @media screen and (max-width: 959px){
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 100px;
  }
}